# Løsning på oppgaver 

#### Oppgave 1) Hva er produkt av 4499 og 35?

In [ ]:
4499 * 35

##### Oppgave 2) Lage et objekt med navnet ditt og skriv det ut

In [ ]:
navn <- "Aslaug"
navn

#### 3) Slå opp hjelpfilen for funksjonen nchar

In [ ]:
?nchar

#### 4) Bruk funksjonen nchar for å se hvor mange bokstaver navnet ditt innholder

In [ ]:
nchar(navn)

### Logiske setninger
#### 5) Lage en vektor som inneholder tre forskjellige tall. Kalle listen antall_ansatte

In [ ]:
antall_ansatte <- c(11, 35, 4)

#### 6) Skrive en test for å se hvilken i listen "antall_ansatte" er mindre enn 5.

In [ ]:
antall_ansatte < 5

##### 7) Skrive en test for å se om nummer 9 er i listen antall_ansatte

In [ ]:
9 %in% antall_ansatte

### Les inn datasett

##### 8) Hente inn biblioteket tidyverse

In [ ]:
library(tidyverse)

#### 8) Åpne datasett "ytelser.csv" uten å lese det inn. Hvilken skilletegn og desimaltegn brukes?

#### 9) Les inn datasett "ytelser.csv"

In [ ]:
ytelser <- read_csv2("ytelser.csv")

##### 10) Se på datasett. Hvor mange variabler har det?

In [ ]:
glimpse(ytelser)

##### 11) Hva slags type variabel er kommune_nr_navn?

In [ ]:
glimpse(ytelser)

#### 12) Hva er gjennomsnittsverdi av variabel utbetalt_mill_kr?

In [ ]:
summary(ytelser)

# Bruk av tidyverse til å bearbeide data
#### 13) Lage en ny variabel med kommune nummer (4 siffer)
Sjekk at den er lagret på datasett med glimpse()
Hint: kommunenummer er de første 4 siffene i variabel kommune_nr_navn

In [ ]:
ytelser <- ytelser %>%
  mutate(kommune_nr = substr(kommune_nr_navn, 1, 4))

glimpse(ytelser)

#### 14) Lage en ny variabel med fylkesnummer. 
Hint: fylkenummer er de første 2 siffer i variabel fylke_nr_navn

In [ ]:
ytelser <- ytelser %>%
  mutate(fylke_nr = substr(fylke_nr_navn, 1, 2))

glimpse(ytelser)

#### 15 ) Bruk filter for å se hvor mye barnetrygd ble utbetalt i 2015 for Kongvinger 
Hint: Gammel kommunenummer var 0402, stoenadsomraade_gruppe er "Barnetrygd" og variabel utbetalt_mill_kr gis utbetalt verdi

In [ ]:
ytelser %>%
  filter(kommune_nr == "0402", 
         stoenadsomraade == "Barnetrygd",
         aar == 2015
         ) %>%
  select(utbetalt_mill_kr)

#### 16) Hva er summen av alle ytelsene for Kongsvinger?

In [ ]:
ytelser %>% 
  filter(kommune_nr == "0402") %>%
  summarise(belop_mrd = sum(utbetalt_mill_kr))

#### 17) Hva er summen av alle ytelsene for Oslo per år?
Hint: Kommmunenummer for Oslo er 0301

In [ ]:
ytelser %>% 
  filter(kommune_nr == "0301") %>%
  group_by(aar) %>% 
  summarise(belop_mrd = sum(utbetalt_mill_kr))

#### 18) Hvor mange forsekjllige type ytelser ble utbetalt i Oslo i 2014? (Som er i datasett)
Hint: bruk funksjon n() innen summarise() for å teller antall rader

In [ ]:
ytelser %>% 
  filter(kommune_nr == "0301", aar == "2014") %>%
  summarise(antall = n())

### Kobling av data

#### 19) Les inn filen befolkning.csv som ligger i data-mappe og se på datasettet med funksjonen glimpse
Dette innholder befolking per kommune etter aldersgrupper

In [ ]:
befolkning <- read_csv2('befolkning.csv')
glimpse(befolkning)

#### 20) Filter datasett så at det kun inneholder antall som er 65+ år per kommune
Bruk select for å kun beholde variabler Region, value og Tid. 
Hint: aldergruppe for de 65+ år heter "F65+"

In [ ]:
befolkning <- befolkning %>%
  filter(Alder == "F65+") %>%
  select(Region, value, Tid)

#### 21) Endre navn til variabel "value" til "befolk65"

In [ ]:
befolkning <- befolkning %>%
  rename(befolk65 = value)

#### 22) Koble ytelser og befolkning datasett sammen ved kommunenummer og år som nøkkelvariabelBehold kun alle rader i ytelserdatasett

Behold kun alle rader i ytelserdatasett

In [ ]:
ytelser <- left_join(ytelser, befolkning, by = c("kommune_nr" = "Region", "aar" = "Tid"))
summary(ytelser)

### Figurer

#### 23) Lage en linjediagram av total ytelser per år.
Hint 1: linjedigarm er samme som punktdiagram men med geom_smooth. 
Hint 2: Gruppere først, deretter summere, og deretter plott

In [ ]:
ytelser %>% 
  group_by(aar) %>% 
  summarise(ytelser = sum(utbetalt_mill_kr)) %>% 
  ggplot(aes(x= aar, y = ytelser)) + 
    geom_line()

#### 24) Lage samme plott av ytelser men i milliarder (istedenfor millioner)
Bruk + ylim(0,500) for å spesifisere y-akser skal være mellom 0 og 500

In [ ]:
ytelser %>% 
  group_by(aar) %>% 
  summarise(ytelser = sum(utbetalt_mill_kr)/1000) %>% 
  ggplot(aes(x= aar, y = ytelser)) + 
  geom_line() +
  ylim(0, 500)

#### 25) Lage samme plott av ytelser men legg til akse-navn som er mer meningsfult
Hint 1: bruk xlab og ylab

In [ ]:
ytelser %>% 
  group_by(aar) %>% 
  summarise(ytelser = sum(utbetalt_mill_kr)/1000) %>% 
  ggplot(aes(x = aar, y = ytelser)) + 
  geom_line() +
  xlab("år") +
  ylab("utbetalt ytelser (milliarder)") + 
  ylim(0, 500)

#### 26) Lage en ny linjediagram for ytelser per år farget etter stønadsområde.
Lage det for Kongvinger Hint: siden datasett innholde utbetalt verdier per stønadsområde, trenger
du ikke å oppsummere. Bruk aes(color = ) innen geom_line() til farger

In [ ]:
ytelser %>% 
  filter(kommune_nr == "0402")%>%
  group_by(aar) %>% 
  ggplot(aes(x = aar, y = utbetalt_mill_kr)) + 
  geom_line(aes(color = stoenadsomraade))

#### 27) lage en punktdiagram av antall 65+ og utbetalt for stønadsområde "Alderspensjon" for 2015 og legg på en regresjonlinje

In [ ]:
ytelser %>%
  filter(aar == 2015, stoenadsomraade == "Alderspensjon") %>%
  ggplot(aes(x = befolk65, y = utbetalt_mill_kr)) + 
  geom_point() + 
  geom_smooth(method = "lm")